In [ ]:
#Query all columns (attributes) for every row in the CITY table.
select name from city where countrycode = 'JPN'

In [ ]:
#Query all columns for a city in CITY with the ID 1661.
select * 
from city 
where id = 1661

In [ ]:
#Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.
select * 
from city 
where countrycode = 'JPN'

In [ ]:
#Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.
select name from city where countrycode = 'JPN'

In [ ]:
#Query a list of CITY and STATE from the STATION table.
select city,state
from station

In [ ]:
#Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.
select distinct city 
from station 
where id % 2 = 0

In [ ]:
#Let  be the number of CITY entries in STATION, and let  be the number of distinct CITY names in STATION; query the value of  from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of 
#distinct CITY entries in the table.
select count(*) - count(distinct city)
from station

In [ ]:
#Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

select distinct city 
from station 
where city like '%a'or city like '%u' or city like '%e' or city like '%o' or city like'%i'

In [ ]:
#Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.
select distinct city 
from station 
where (city like '%a'or city like '%u' or city like '%e' or city like '%o' or city like'%i')
and (city like 'a%'or city like 'u%' or city like 'e%' or city like 'o%' or city like'i%')

In [ ]:
#Write a query that prints a list of employee names (i.e.: the name attribute) from the Employee table in alphabetical order.
select name 
from employee
order by name asc